<nav class="fs-3 d-flex justify-content-center align-items-center bg-success-subtle py-3">
  <ul class="d-flex justify-content-center align-items-center gap-4 list-unstyled mx-auto">
    <li><a href="/api/products" class="text-secondary-emphasis fw-bold">/products</a></li>
    <li><a href="/api/carts" class="text-secondary-emphasis fw-bold">/cart</a></li>
    <li><a href="/api/chat" class="text-secondary-emphasis fw-bold">/chat</a></li>
  </ul>
</nav>